.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

th, td { padding: 8px 16px; }
th     { background:#eee; }

/* TODO: Figure out how to get this to hit the bottom of the navbar, and not slide underneath then stop */
.stickyFilter { position: sticky; top: 0; }