.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 55px; }

th, td { padding: 8px 16px; }
th     { background:#eee; color: black;}

.stickyFilter { position: sticky; top: 55px; }