{% extends "champion_helper/index.html" %}
{% load static %}

{% block header %}
  <h1 class="display-1 text-center">Champion Summary</h1>
{% endblock %}

{% block form %}
  <div class="form-group col-sm-3 col-md-2">
    {{ filter.form.name.label_tag }}
    {{ filter.form.name }}
  </div>
  <div class="form-group col-sm-4 col-md-2">
    {{ filter.form.faction.label_tag }}
    {{ filter.form.faction }}
  </div>
  <div class="form-group col-sm-4 col-md-2">
    {{ filter.form.faction__alliance.label_tag }}
    {{ filter.form.faction__alliance }}
  </div>
  <div class="form-group col-sm-4 col-md-2">
    {{ filter.form.rarity.label_tag }}
    {{ filter.form.rarity }}
  </div>
  <div class="form-group col-sm-4 col-md-2">
    {{ filter.form.affinity.label_tag }}
    {{ filter.form.affinity }}
  </div>
  <div class="form-group col-sm-4 col-md-1">
    {{ filter.form.type.label_tag }}
    {{ filter.form.type }}
  </div>
{% endblock %}