{% extends "champion_helper/single_table.html" %}
{% load static %}
{% load render_field from widget_tweaks %}

{% block header %}
  <h1 class="display-1 text-center">Champion Summary</h1>
{% endblock %}

{% block form %}
  <div class="form-group col-sm-12">
    {{ filter.form.name.label_tag }}
    {% render_field filter.form.name class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.faction.label_tag }}
    {% render_field filter.form.faction class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.faction__alliance.label_tag }}
    {% render_field filter.form.faction__alliance class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.rarity.label_tag }}
    {% render_field filter.form.rarity class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.affinity.label_tag }}
    {% render_field filter.form.affinity class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.type.label_tag }}
    {% render_field filter.form.type class="form-control" %}
  </div>
{% endblock %}