{% extends "champion_helper/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="container-fluid">
        <h1 class="display-1 text-center">Champion Summary</h1>
        {% if champion_list %}
        <div class="col">
            <!-- TODO: figure out how to actually include the filter in the table... -->
            <form method="get" class="form form-inline">
                {{ filter.form.as_p }}
                <input class="btn" type="submit" />
            </form>
            {% render_table table %}
        </div>
        {% else %}
        <p>No Champions are available.</p>
        {% endif %}
    </div>
{% endblock %}