{% extends "champion_helper/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <!-- TODO: Make this injectable so I can change it based on which sub template I'm using -->
            <h1 class="display-1 text-center">Champion Summary</h1>
        </div>
        <!-- TODO: figure out how to actually include the filter in the table...may need a custom form template to pass to the filter instead of trying to control it here...-->
        <div class="col">
            <form method="get" class="form form-dark form-inline">
                {{ filter.form.as_p }}
                <input class="btn btn-light" type="submit" />
            </form>
            {% if object_list %}
                {% render_table table %}
            {% else %}
                <p>No Champions are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}