{% extends "champion_helper/multi_table.html" %}
{% load static %}
{% load render_field from widget_tweaks %}

{% block header %}
  <h1 class="display-1 text-center">Team Suggestions</h1>
{% endblock %}

{% block form %}
  <div class="form-group col-sm-12">
    {{ filter.form.champion__faction.label_tag }}
    {% render_field filter.form.champion__faction class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.champion__faction__alliance.label_tag }}
    {% render_field filter.form.champion__faction__alliance class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.champion__rarity.label_tag }}
    {% render_field filter.form.champion__rarity class="form-control" %}
  </div>
  <div class="form-group col-sm-12">
    {{ filter.form.location.label_tag }}
    {% render_field filter.form.location class="form-control" %}
  </div>
{% endblock %}