{% extends "champion_helper/index.html" %}
{% load static %}

{% block header %}
  <h1 class="display-1 text-center">Team Sugeestions</h1>
{% endblock %}

{% block form %}
  <div class="form-group col-sm-3 col-md-1">
    {{ filter.form.champion__affinity.label_tag }}
    {{ filter.form.champion__affinity }}
  </div>
  <div class="form-group col-sm-4 col-md-1">
    {{ filter.form.champion__faction.label_tag }}
    {{ filter.form.champion__faction }}
  </div>
  <div class="form-group col-sm-4 col-md-1">
    {{ filter.form.champion__faction__alliance.label_tag }}
    {{ filter.form.champion__faction__alliance }}
  </div>
  <div class="form-group col-sm-4 col-md-1">
    {{ filter.form.champion__rarity.label_tag }}
    {{ filter.form.champion__rarity }}
  </div>
{% endblock %}